<div class="d-flex w-100">
    <h6 class="mt-4">Cancelled Orders</h6>
    <div class="table-block formFeild">
    <input type="text" class="search-field-right web-only-inline" title="Search" placeholder="Search">
    <!-- <div class="customFilter web-only-inline ml-3 dropdown">
        <button class="export-button filter" type="button">Filter</button>
    </div> -->
    
    <!-- filter dropdown -->
    <div class="customFilter web-only-inline ml-3 dropdown">
        <button class="export-button filter" type="button" id="dropdownForm1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownForm1" x-placement="bottom-left">
            <form class="p-4 ng-untouched ng-pristine ng-valid">
                <div class="pb-5">
                    <div class="mb-4">
                        <h6>By Order Type</h6>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>All</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>F&amp;I - SC w/Lead</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label><input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>F&amp;I Change</span></label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>F&amp;I - Completed</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>F&amp;I Trip w/Cancel</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>Reschedule</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>Service</span></label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>Pickup Issues</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>F&amp;I Multi Door</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>F&amp;D</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>GDO</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="checkbox" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span>Service w/Product</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button aria-haspopup="true" class="button-primary nocaret"  type="submit" aria-expanded="false">apply</button>
                    </div>
                </form>
        </div>
     </div>                                            
</div>
</div>
<div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orderstab">
    <div class="empty-cart-detail flex-column">
        <img src="./images/no-data-cart.svg" alt="">
        <h4>Records not Found!</h2>
    </div>
  </div>